<div class="templates py-4 bg-secondary">
  <div class="container">
    <div class="row modal-title text-center mb-5">
        <div class="col-12">
            <h2 CLASS="display-6 text-primary fw-bold">CV IDRISS</h2>
            <p class="text-dark fs-4 my-4 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a
              galley of type and
              scrambled it to make a type specimen book.</p>
          <img src="./asset/drissCV.png" class="align-content-center" alt="">
          <h2>Download My CV</h2>
          <button class="btn btn-success"><a href="./asset/CV-IDRISS-2.pdf" download  target="_blank" class="text-decoration-none text-light" >Download CV</a></button>
        </div>
    </div>

</div>
</div>
