<div class="templates py-4 ">
  <div class="container">
    <div class="row modal-title text-center mb-5">
        <div class="col-12">
            <h2 CLASS="display-6 fw-bold">CV IDRISS</h2>
          <img src="./asset/drissCV.png" class="align-content-center" alt="">
          <h2>Download My CV</h2>
          <button class="btn btn-success"><a href="./asset/CV-IDRISS-2.pdf" download  target="_blank" class="text-decoration-none text-light" >Download CV</a></button>
        </div>
    </div>

</div>
</div>
