.card{
  border: none;
  outline: none;
  max-width: 350px;
  min-width: 350px;
  box-shadow: -22px 15px 38px 11px rgba(242,109,109,0.78);
  -webkit-box-shadow: -22px 15px 38px 11px rgba(242,109,109,0.78);
  -moz-box-shadow: -22px 15px 38px 11px rgba(242,109,109,0.78);
}
.card p{
  color: gray;
}
.circle{
  width: 70px;
  height: 70px;
  background-color: lightgray;
  color: black;
  font-size: 30px;
  padding: 12px;
  display:inline-block;
  margin-bottom: 20px;
  border-radius: 50%;
}
.card:hover .circle{
  background-color: black;
  color: white;
  transition: 0.5s;
}

.tag2{
  padding: 5px 20px;
  height: 30px;
  width: fit-content;
  font-size: 14px;
  border-radius: 25px;
  background-color: #0b29a1;
  color: white;
}
