<section class="about">
  <div class="container d-flex justify-content-around">
    <div class="row ">
      <div class="col-lg-5">
        <img src="./asset/aboutimg.jpg" data-os="fade-up" class="img-thumbnail">
      </div>
      <div class="col-lg-7 ps-5">
        <h1 class="text-center py-3">About Me</h1>
        <p class="py-3">Full Stack JAVA JEE - Angular & IT-infrastructure Digitale</p>
        <p class="">
          Bonjour je m'appelle <span class="text-uppercase fw-bolder">Idriss mikdame</span>
          , je suis né le <span class="fw-semibold">09/07/2002</span> à Beni Mellal
          , je suis célibataire , j'habite actuellement à Beni mellal
          , j'ai obtenu mon baccalauréat SVT en  2022 et
          j'ai poursuivi mes études à ISTA NTIC BM , j'ai obtenu mon diplôme
          en Infrastructure digitale : option Système et Réseaux  en 2024.
        </p>
        <div class="progress my-3">
          <div class="pro-vlaue1">
            <p>Html/css  <span class="fw-bold float-end">65%</span></p>
          </div>
        </div>
        <div class="progress my-3">
          <div class="pro-vlaue2">
            <p>Java/JEE  <span class="fw-bold float-end">50%</span></p>
          </div>
        </div>
        <div class="progress my-3">
          <div class="pro-vlaue5">
            <p>System/Reseaux  <span class="fw-bold float-end">75%</span></p>
          </div>
        </div>
        <div class="progress my-3">
          <div class="pro-vlaue3">
            <p>Java/Script  <span class="fw-bold float-end">30%</span></p>
          </div>
        </div>
        <div class="progress">
          <div class="pro-vlaue4">
            <p>MySQL  <span class="fw-bold float-end">40%</span></p>
          </div>
        </div>
        <input type="submit" class="btn1 mt-4" value="Contact">
      </div>
    </div>
  </div>
</section>
