<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a  routerLink="home" class="navbar-brand ms-5 "  href="#">PortfolioWebsite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item text-secondary  ms-5">
        <a routerLink="home" class="nav-link" href="#">Accueil</a>
      </li>
      <li class="nav-item ms-5">
        <a class="nav-link" routerLink="about" href="#">A propos</a>
      </li>
      <li class="nav-item ms-5">
        <a class="nav-link" href="#">Projets</a>
      </li>
      <li class="nav-item ms-5">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
