#container{

  border-radius: 15px;
}
#section{
  background: radial-gradient(circle,rgba(212, 145, 138, 1) 0%, rgba(148, 187, 233, 1) 100%);

}
legend{
  text-decoration: underline;
}
.map{
  filter: hue-rotate(2000deg);
  height: 30em;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #section , #section::before{
    min-height: 750px;
  }
  .map{
    height: 15em;
  }
}

@media screen and (max-height:515px){
  #section , #section::before{
    min-height: 750px;
  }
}
