<div class="container">
  <div class="d-flex justify-content-between flex-wrap">
    <div class=" ms-3" style="max-width: 300px; min-width: 300px ">
      <app-project-cards [project]="project"></app-project-cards>
    </div>
    <div class=" ms-3" style="max-width: 300px; min-width: 300px ">
      <app-project-cards [project]="project"></app-project-cards>
    </div>
    <div class="ms-3" style="max-width: 300px; min-width: 300px ">
      <app-project-cards [project]="project"></app-project-cards>
    </div>

  </div>

</div>
