.main{
  background: url("/asset/téléchargement.jpg") ;
  width: 100%;
  height: 100%;
}
.main h3{
  font-size: 4.4rem;
  font-weight: 700;
}
.main h6{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #034f57;
}
.main .btn1 {
  height: 55px;
  width: 138px;
  background-color: #68b6ed;
}
